label {
    color: #828B97 !important;
    font-size: 12px !important;
    padding-bottom: 0 !important;
}

input {
    border: 1px solid #D9D9D9 !important;
}

input:disabled {
    background-color: #F8F8F8 !important;
    cursor: default !important;
}

input:disabled:hover {
    background-color: #F8F8F8 !important;
}

input:hover,
input:focus,
select:hover,
select:focus {
    border: 1px solid #49DDFD !important;
}

select {
    cursor: pointer;
}

.ui-form-row {
    margin-bottom: 10px !important;
}

#date-exchange-rate {
    font-size: 9px !important;
    padding: 4px 6px !important;
    height: auto !important;
    top: -12px !important;
}

.ui-ctl-icon-clear {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.3s ease, visibility 0.3s ease !important;
}

.ui-ctl-icon-clear.show {
    opacity: 1 !important;
    visibility: visible !important;
}