/* Формы */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

/* Поля выбора */
/*form div {*/
/*    flex: 1 1 auto; !* Поля будут занимать доступное пространство, но не больше установленной ширины *!*/
/*    max-width: 200px; !* Устанавливаем максимальную ширину для полей *!*/
/*}*/

form div.form-select-small {
    max-width: 100px;
}

/* Метки и поля ввода */
form label {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    color: #555;
    cursor: pointer;
}

form select {
    padding: 8px;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 100%; /* Заполняет доступное пространство */
    background-color: #FFF;
    cursor: pointer;
}

/* Итого */
form#result-form {
    display: block;
}

#result-form label {
    cursor: default;
}

#result-form h5 {
    font-size: 16px;
    /*margin-left: 15px;*/
    padding-bottom: 0;
}