@import "form.css";
@import "table.css";

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEF2F4;
    font-size: 12px;
    color: #333333;
}

h2 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

.container {
    min-width: 100%;
}

.content {
    display: block;
    margin: 20px 20px 30px 20px;
    box-sizing: border-box;
}

.content-block {
    display: block;
    padding: 20px 30px;
    margin: 15px 0 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}