:root {
    --table-color: #666;
    --row-active: #EDFFEB;
    --row-hover: #F8F8F8;
    --row-disabled: #FFF7FA;
    --border-light: #dee2e6;
    --border-dark: #333;
}

table {
    display: table !important;
    border: none !important;
    color: var(--table-color) !important;
}

table th, table td {
    text-align: center;
    vertical-align: middle !important;
    font-weight: normal !important;
    border: none !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th {
    background-color: #DBDFFB;
    color: #333;
}

table th:last-child,
table tbody td:last-child {
    /*width: 50px;*/
}

table tbody td:last-child {
    text-align: left;
}

/* Начальные стили для анимации */
table tbody tr {
    cursor: pointer;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 1px solid var(--border-light) !important;
}

table tbody tr:hover {
    background-color: var(--row-hover);
}

/* Стили для появления строки */
table tbody tr.show {
    height: 55px;
    opacity: 1;
    transform: translateY(0);
}

/* Стили для удаления строки */
table tbody tr.hide {
    /*position: absolute;*/
    opacity: 0;
    transform: translateY(10px);
}

/* Стили для отмеченной строки */
.table-row-selected {
    background-color: var(--row-active) !important;
}

.table-row-selected:hover {
    background-color: #E5F6E4FF !important;
}

.table-row-not-found,
.table-row-not-found:hover,
.table-row-not-found:active {
    cursor: default;
    background-color: #f8f9fa;
}

.table-row-disabled,
.table-row-disabled:hover,
.table-row-disabled:active {
    cursor: default;
    background-color: var(--row-disabled);
}

.table-row-disabled > td:nth-last-child(2) {
    color: #ED91AA;
}

table td.select-box,
table th:first-child {
    position: absolute;
    top: 14px;
    left: -25px;
    border: none;
    padding: 0;
    width: 0;
}

table th:first-child {
    background-color: #f8f9fa;
}

input:disabled:hover,
select:disabled:hover {
    border-color: var(--border-light) !important;
}

input[type="checkbox"] {
    cursor: pointer;
    display: none; /* !!! Выключены чекбоксы */
}

input[type="checkbox"]:disabled {
    cursor: default;
}

/* Нотации */
td.comment-icon {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    height: 100%; /* Убедитесь, что ячейка занимает всю высоту */
}

.icon {
    display: inline-block;
    width: 50px;
    height: 16px;
    content: '';
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M480 674V192c0-18 14-32 32-32s32 14 32 32v482zm0 63h64v60h-64zM0 512C0 229 229 0 512 0s512 229 512 512s-229 512-512 512S0 795 0 512m961 0c0-247-202-448-449-448S64 265 64 512s201 448 448 448s449-201 449-448'/%3E%3C/svg%3E");
    background-color: #2FC6F6;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* Стили для кастомной подсказки */
.comment {
    position: absolute;
    background-color: #fff;
    color: var(--table-color);
    padding: 15px;
    border-radius: 4px;
    font-size: 12px;
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 300px;
    z-index: 1000;
    display: none;
    pointer-events: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .05);
}

.comment::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent !important;
}

#result-form input:disabled {
    color: #484646;
}

td.conversion-input > input {
    display: inline-block;
    width: 36px;
    height: 30px;
    text-align: center;
    padding: 0 5px;
}


.icon-service {
    position: relative;
}

.icon-service::before {
    content: 'С';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 1px 4px;
    width: 33px;
    height: 33px;
    background: #087f7a;
    color: white;
    font-size: 14px;
    font-weight: bold;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    z-index: 1;
}

